.grid {
  /* position: fixed; */
  width: 60px;
  height: 30px;
  background-color: transparent;
}

.plottedDate {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: absolute;
  cursor: -webkit-grab;
  cursor: grab;
  border: 1px solid white;
  z-index: 9 !important;
}

.plottedDate:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
  background: #17a2b8;
}

.plottedDate:hover {
  z-index: 9999 !important;
}



.set-z-index {
  z-index: 9999 !important;
}

.remove-z-index {
  z-index: 9 !important;
}


.main-wrapper {
  width: 780px;
  height: 30px;
}

.middle-line {
  width: 780px;
  height: 6px;
  position: absolute;
  background: #333;
  margin-top: 12px;
  border-radius: 3px;
}

.months {
  display: flex;
  width: 780px;
  height: 20px;
  margin-bottom: 33px;
  font-size: 10px;
  text-align: center;
  align-items: center;
  vertical-align: middle;
}

.month {
  width: 60px;
  height: 20px;
  border: 1px solid #fff;
  color: #fff;
}

.month:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.month:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.numberOfBuble {
  position: absolute;
  top: -24px;
  border-radius: 50% 50% 0 50%;
  -webkit-transform: rotate(70deg) skew(45deg);
  -moz-transform: rotate(70deg) skew(45deg);
  -ms-transform: rotate(70deg) skew(45deg);
  transform: rotate(70deg) skew(45deg);
  width: 20px;
  height: 13px;
  text-align: center;
}

.bubbleInfoText {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  font-size: 0.1rem;
}

.display-none {
  display: none !important;
}

/*
position: absolute;
    top: 30px;
    /* border-radius: 50% 50% 0 50%; */
    /* -webkit-transform: rotate(70deg) skew(45deg); */
    /* transform: rotate(70deg) skew(45deg); */
    /* width: 5px;
    height: 24px;
    text-align: center; */

/*
.bubbleInfoText[_ngcontent-c3] {
    /* -webkit-transform: rotate(-45deg); */
    /* transform: rotate(-45deg); */
    /* font-size: 0.1rem;
    color: #333 !important;
    margin-top: 25px !important; */

