.grid {
  /* position: fixed; */
  width: 60px;
  height: 30px;
  background-color: transparent;
}

.plottedDate {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: absolute;
  margin-left: 30px;
  cursor: -webkit-grab;
  cursor: grab;
  border: 0.5px solid white;
}

.plottedDate:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
  background: #17a2b8;
}

.main-wrapper {
  width: 780px;
  height: 30px;
}

.middle-line {
  width: 780px;
  height: 6px;
  position: absolute;
  background: #333;
  margin-top: 12px;
  border-radius: 3px;
}

.months {
  display: flex;
  width: 780px;
  height: 20px;
  margin-bottom: 27px;
  font-size: 10px;
  text-align: center;
  align-items: center;
  vertical-align: middle;
}

.month {
  width: 60px;
  height: 20px;
  border: 1px solid #fff;
  color: #fff;
}

.month:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.month:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.bubbleInfo {
  pointer-events: none;
  margin: 0;
  width: 20px;
  height: 13px;
  border-radius: 50% 50% 0 50%;
  text-align: center;
  -webkit-transform: rotate(70deg) skew(45deg);
  -moz-transform: rotate(70deg) skew(45deg);
  -ms-transform: rotate(70deg) skew(45deg);
  transform: rotate(70deg) skew(45deg);
  position: absolute;
  top: -24px;
}

.bubbleInfoText {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  font-size: 0.1rem;
}
