input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}

.height-100 {
  height: 100% !important;
}

ul {
  list-style: none !important;
}

.container-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

/* Number */
.box-1 {
  flex-basis: 2%;
}

/* Textarea */
.box-2 {
  flex-basis: 100%;
  /* margin-right: 10px; 65 */
}

/* Select list */
.box-3 {
  flex-basis: 15%;
  /* margin-right: 10px; */
}

.statusSelectList {
  min-width: 115px !important;
}

/* Date picker */
.box-4 {
  flex-basis: 6%;
}

/* Expand */
.box-5 {
  flex-basis: 6%;
}

/* Delete */
.box-6 {
  flex-basis: 6%;
}

/* Delete */
.box-7 {
  flex-basis: 6%;
}

.item-box-1 {
  flex-basis: 8%;
}

.item-box-2 {
  flex-basis: 80%;
  margin-right: 10px;
}

.item-box-3 {
  flex-basis: 6%;
}

.item-box-4 {
  flex-basis: 6%;
}

.enableOverflow {
  overflow: auto;
}

#keyMilestonesCardBody {
  height: 300px !important;
}

/* select option[value="1"] {
  background: #dc3545 !important;
}

select option[value="2"] {
  background: #ffc107 !important;
}

select option[value="2"] {
  background: #28a745 !important;
} */

.project-main-container,
.split-main-container-in-2,
.left-side-container,
.flex-container-splitting-uka-and-ra-in-half,
.flex-container-splitting-kri-and-rdoi-in-half {
  /* height: 100%; */
  width: 100%;
}

.split-main-container-in-2-left-side {
  width: 75%;
  height: 100%;
}

.split-main-container-in-2-right-side-summary {
  width: 25%;
  /* height: 100%; */
  padding-left: 3px;
}

/* .left-side-container-key-milestones, */
.left-side-container-project-name,
.left-side-container-key-milestones,
.left-side-container-uka-and-ra,
.left-side-container-kri-and-rdoi {
  width: 100%;
}

.left-side-container-project-name {
  padding-bottom: 3px;
  padding-right: 3px;
  /* height: 4%; */
}

.left-side-container-key-milestones {
  /* height: 40%; */
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 3px;
}

.left-side-container-uka-and-ra {
  /* height: 28%; */
}

.left-side-container-kri-and-rdoi {
  /* height: 28%; */
}

.uka-ra-kri-rdoi-containers {
  width: 50%;
  /* height: 100%; */
}

.top-left {
  padding-right: 3px;
  padding-bottom: 3px;
  padding-top: 3px;
}

.top-right {
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.bottom-left {
  padding-right: 3px;
  padding-top: 3px;
}

.bottom-right {
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 3px;
}

.name-container {
  width: 60%;
  padding-right: 10px;
}

.buttons-container {
  align-self: flex-start;
}

.buttons-small-screen {
  display: none;
}

.hover-danger:hover,
#cancelButton:hover {
  color: #dc3545 !important;
}

.hover-success:hover,
#submitButton:hover {
  color: #28a745 !important;
}

#onHoverIfButtonIsDisabled {
  position: relative;
  display: inline-block;
}

#onHoverIfButtonIsDisabled .tooltiptext {
  visibility: hidden;
  width: 220px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: -106%;
  left: 50%;
  margin-left: -97%;
  opacity: 0;
  transition: opacity 0.3s;
}

#onHoverIfButtonIsDisabled .tooltiptext::after {
  content: "";
  position: absolute;
  top: -28%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color:  transparent transparent #555 transparent;
}

#onHoverIfButtonIsDisabled:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

 textarea.ng-untouched.ng-pristine.ng-invalid {
  border: 3px solid #ffc107 !important;
}

.fr-wrapper {
  min-height: 300px !important;
}

.buttons-large-screen {
  width: 111px;
}

.main-wrapper-content {
  width: 100% !important;
}


@media (max-width: 1200px) {
  .top-left {
    padding-right: 0;
  }

  .top-right {
    padding-left: 0;
    padding-right: 0;
  }

  .bottom-left {
    padding-right: 0;
    padding-bottom: 3px;
  }

  .bottom-right {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 3px;
  }

  .split-main-container-in-2 {
    flex-direction: column;
  }

  .split-main-container-in-2-left-side,
  .split-main-container-in-2-right-side-summary {
    width: 100%;
    padding-left: 0;
  }

  .left-side-container-key-milestones {
    margin-bottom: 0;
  }

  .split-main-container-in-2-left-side {
    height: unset;
  }

  /* Summary */
  .split-main-container-in-2-right-side-summary {
    min-height: 100px;
    padding-top: 3px;
  }

  .flex-container-splitting-uka-and-ra-in-half,
  .flex-container-splitting-kri-and-rdoi-in-half {
    flex-direction: column;
  }

  .uka-ra-kri-rdoi-containers {
    width: 100%;
    min-height: 100px;
  }

  /* Name */
  .left-side-container-project-name {
    padding-right: 0;
  }

  /* Key Milestones */
  .left-side-container-key-milestones {
    min-height: 100px;
    padding-right: 0;
  }

  /* Box row 1 */
  .left-side-container-uka-and-ra {
    height: unset;
  }

  /* Box row 2 */
  .left-side-container-kri-and-rdoi {
    height: unset;
  }

  .buttons-small-screen {
    display: block;
  }

  .buttons-large-screen {
    display: none;
  }
}
