<div class="d-flex project-main-container">
  <form [formGroup]="projectForm" (ngSubmit)="onSubmit()" class="d-flex split-main-container-in-2">
    <div class="split-main-container-in-2-left-side">
      <div class="d-flex flex-column left-side-container">
        <div class="left-side-container-project-name">
          <div class="card border-info">
            <div class="card-body py-2">
              <div class="d-flex justify-content-between">
                <div class="name-container">
                  <span class="card-title h3 text-center m-0">
                    <textarea type="text" id="name" formControlName="name" class="form-control" placeholder="Enter Project Name"
                      rows="1"></textarea>
                  </span>
                </div>
                <div class="buttons-container">
                  <div class="d-flex justify-content-end">
                    <div id="onHoverIfButtonIsDisabled" class="d-flex mr-4">
                      <button id="submitButtonLarge" title="Save Everything" type="submit" class="btn btn-success buttons-large-screen"
                        [disabled]="!projectForm.valid" data-toggle="tooltip" data-placement="bottom"><i class="fas fa-save mr-3"></i>{{
                        editMode ? 'Update' : 'Save' }}</button>
                      <span *ngIf="!projectForm.valid" class="tooltiptext">Please, fill out all the fields</span>
                    </div>

                    <button id="cancelButtonLarge" title="Cancel and Go Back" type="button" class="btn btn-danger buttons-large-screen"
                      (click)="onCancel()"><i class="fas fa-ban mr-3"></i>Cancel</button>
                    <button id="submitButtonSmall" title="Save Everything" type="submit" class="btn btn-link text-dark px-4 hover-success buttons-small-screen"
                      [disabled]="!projectForm.valid"><i class="fas fa-save"></i></button>
                    <button id="cancelButtonSmall" title="Cancel and Go Back" type="button" class="btn btn-link text-dark px-4 hover-danger buttons-small-screen"
                      (click)="onCancel()"><i class="fas fa-ban"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="left-side-container-key-milestones">

          <!-- KEY MILESTONES -->
          <div class="card border-info height-100">
            <div class="card-header">
              <div class="d-flex justify-content-between row-hl">
                <div class="item-hl">
                  <span>Key Milestones</span>
                </div>
                <div class="item-hl">
                  <button type="button" id="newKeyMilestoneButton" class="btn btn-link text-dark py-0 px-1 hover-success"
                    (click)="onAddNewKeyMilestone()">
                    <!-- alternative way of implementing scrolling to element without ts: -->
                    <!-- [ngx-scroll-to]="'#endOfKeyMilestones'" [ngx-scroll-to-duration]="1500" -->
                    <i class="fas fa-plus"></i></button>
                </div>
              </div>
            </div>
            <div class="card-body enableOverflow"  id="keyMilestonesCardBody">
              <div class="card-text" formArrayName="keyMilestones">
                <div class="pl-0" *ngFor="let keyMilestone of projectForm.get('keyMilestones').controls; let i=index"
                  [formGroupName]="i" id="{{'keyMilestone-' + (i + 1)}}">
                  <div class="container-1">
                    <div class="box-1">
                      <p class="m-0 text-right mr-2">{{i+1}}. </p>
                    </div>
                    <div class="box-2">
                      <textarea type="text" class="form-control" formControlName="name" placeholder="Key Milestone"
                        rows="1"></textarea>
                    </div>
                    <div class="box-3">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                          </select>
                    </div>
                    <div class="box-4">

                    </div>
                    <div class="box-5">
                        <button type="button" class="btn btn-link text-dark py-0 px-1 hover-success" (click)="onSetKeyMilestoneDateStatus(i)">
                            <i class="far fa-calendar-alt"></i>
                          </button>
                    </div>
                    <div class="box-6">
                      <button type="button" class="btn btn-link text-dark py-0 px-1 hover-danger" (click)="onDeleteKeyMilestone(i)"><i
                          class="far fa-trash-alt"></i></button>
                    </div>
                    <div class="box-7 mr-2">
                      <!-- emply flex box just for proper alignment -->
                      <button type="button" (click)="onAddKeyMilestoneItem(keyMilestone)" type="button" class="btn btn-link text-dark py-0 px-1 hover-success"><i
                          class="fas fa-plus"></i></button>
                    </div>
                  </div> <!-- end of flex container for key milestone name -->
                  <div class="p-0 m-0" formArrayName="items">
                    <div class="container-1" *ngFor="let item of keyMilestone.get('items').controls; let j=index"
                      [formGroupName]="j">
                      <div class="item-box-1 ml-auto">
                        <p class="m-0 text-right mr-2">{{getBulletLetter(j)}}) </p>
                      </div>
                      <div class="item-box-2">
                        <textarea type="text" class="form-control" placeholder="Key Milestone Item" formControlName="name"
                          rows="1"></textarea>
                      </div>
                      <div class="item-box-3">
                        <button type="button" (click)="onDeleteKeyMilestoneItem(keyMilestone, j)" type="button" class="btn btn-link text-dark py-0 px-1 hover-danger"><i
                            class="far fa-trash-alt"></i></button>
                      </div>
                      <div class="item-box-4">
                      </div>
                    </div>
                  </div> <!-- end of formArrayName="items" -->
                </div>
                <!--end of [formGroupName]="i" and loop-->
              </div>
              <!--end of formArrayName="keyMilestones" end of card-text-->
              <div id="endOfKeyMilestones"></div>
            </div> <!-- end of "card-body" -->
          </div> <!-- end of "card border-info" -->
        </div>
        <div class="left-side-container-uka-and-ra">
          <div class="d-flex flex-container-splitting-uka-and-ra-in-half">
            <div class="uka-ra-kri-rdoi-containers top-left">

              <!-- UPCPMING KEY ACTIVITIES -->
              <div class="card border-info height-100">
                <div class="card-header">
                  <div class="d-flex justify-content-between row-hl">
                    <div class="item-hl">
                      <span>Upcoming Key Activities</span>
                    </div>
                    <div class="item-hl">
                      <button type="button" id="newUpcomingKeyActivityButton" class="btn btn-link text-dark py-0 px-1 hover-success"
                        (click)="onAddNewUpcomingKeyActivity()">
                        <i class="fas fa-plus"></i></button>
                    </div>
                  </div>
                </div>
                <div class="card-body enableOverflow" id="upcomingKeyActivities">
                  <div class="card-text" formArrayName="upcomingKeyActivities">
                    <div class="pl-0" *ngFor="let upcomingKeyActivity of projectForm.get('upcomingKeyActivities').controls; let indexOfUpcomingKeyActivity=index"
                      [formGroupName]="indexOfUpcomingKeyActivity" id="{{'upcomingKeyActivity-' + (indexOfUpcomingKeyActivity + 1)}}">
                      <div class="container-1">
                        <div class="box-1">
                          <p class="m-0 text-right mr-2">{{indexOfUpcomingKeyActivity + 1}}. </p>
                        </div>
                        <div class="box-2">
                          <textarea type="text" class="form-control" formControlName="name" placeholder="Upcoming Key Activity"
                            rows="1"></textarea>
                        </div>
                        <div class="box-3">
                          <button type="button" class="btn btn-link text-dark py-0 px-1 hover-danger" (click)="onDeleteUpcomingKeyActivity(indexOfUpcomingKeyActivity)"><i
                              class="far fa-trash-alt"></i></button>
                        </div>
                        <div class="box-4">
                          <button type="button" (click)="onAddUpcomingKeyActivityItem(upcomingKeyActivity)" type="button"
                            class="btn btn-link text-dark py-0 px-1 hover-success"><i class="fas fa-plus"></i></button>
                        </div>
                      </div> <!-- end of flex container for upcoming key name -->
                      <div class="p-0 m-0" formArrayName="items">
                        <div class="container-1" *ngFor="let item of upcomingKeyActivity.get('items').controls; let indexOfUpcomingKeyActivityItem=index"
                          [formGroupName]="indexOfUpcomingKeyActivityItem">
                          <div class="item-box-1 ml-auto">
                            <p class="m-0 text-right mr-2">{{getBulletLetter(indexOfUpcomingKeyActivityItem)}}) </p>
                          </div>
                          <div class="item-box-2">
                            <textarea type="text" class="form-control" placeholder="Upcoming Key Activity Item"
                              formControlName="name" rows="1"></textarea>
                          </div>
                          <div class="item-box-3">
                            <button type="button" (click)="onDeleteUpcomingKeyActivityItem(upcomingKeyActivity, indexOfUpcomingKeyActivityItem)"
                              type="button" class="btn btn-link text-dark py-0 px-1 hover-danger"><i class="far fa-trash-alt"></i></button>
                          </div>
                          <div class="item-box-4">
                          </div>
                        </div>
                      </div> <!-- end of formArrayName="items" -->
                    </div>
                    <!--end of [formGroupName]="i" and loop-->
                  </div>
                  <!--end of formArrayName="keyMilestones" end of card-text-->
                </div>
              </div>
            </div>

            <div class="uka-ra-kri-rdoi-containers top-right">
              <!-- RESOURCE ASSIGNMENTS -->
              <div class="card border-info height-100">
                <div class="card-header">
                  <div class="d-flex justify-content-between row-hl">
                    <div class="item-hl">
                      <span>Resource Assignments</span>
                    </div>
                    <div class="item-hl">
                      <button type="button" id="newResourceAssignment" class="btn btn-link text-dark py-0 px-1 hover-success"
                        (click)="onNewResourceAssignment()">
                        <i class="fas fa-plus"></i></button>
                    </div>
                  </div>
                </div>
                <div class="card-body enableOverflow" id="resourceAssignments">
                  <div class="card-text" formArrayName="resourceAssignments">
                    <div class="pl-0" *ngFor="let resourceAssignment of projectForm.get('resourceAssignments').controls; let indexOfResourceAssignment=index"
                      [formGroupName]="indexOfResourceAssignment" id="{{'resourceAssignment-' + (indexOfResourceAssignment + 1)}}">
                      <div class="container-1">
                        <div class="box-1">
                          <p class="m-0 text-right mr-2">{{indexOfResourceAssignment + 1}}. </p>
                        </div>
                        <div class="box-2">
                          <textarea type="text" class="form-control" formControlName="name" placeholder="Resource Assignment"
                            rows="1"></textarea>
                        </div>
                        <div class="box-3">
                          <button type="button" class="btn btn-link text-dark py-0 px-1 hover-danger" (click)="onDeleteResourceAssignment(indexOfResourceAssignment)"><i
                              class="far fa-trash-alt"></i></button>
                        </div>
                        <div class="box-4">
                          <button type="button" (click)="onAddResourceAssignmentItem(resourceAssignment)" type="button"
                            class="btn btn-link text-dark py-0 px-1 hover-success"><i class="fas fa-plus"></i></button>
                        </div>
                      </div> <!-- end of flex container for upcoming key name -->
                      <div class="p-0 m-0" formArrayName="items">
                        <div class="container-1" *ngFor="let item of resourceAssignment.get('items').controls; let indexOfResourceAssignmentItem=index"
                          [formGroupName]="indexOfResourceAssignmentItem">
                          <div class="item-box-1 ml-auto">
                            <p class="m-0 text-right mr-2">{{getBulletLetter(indexOfResourceAssignmentItem)}}) </p>
                          </div>
                          <div class="item-box-2">
                            <textarea type="text" class="form-control" placeholder="Resource Assignment Item"
                              formControlName="name" rows="1"></textarea>
                          </div>
                          <div class="item-box-3">
                            <button type="button" (click)="onDeleteResourceAssignmentItem(resourceAssignment, indexOfResourceAssignmentItem)"
                              type="button" class="btn btn-link text-dark py-0 px-1 hover-danger"><i class="far fa-trash-alt"></i></button>
                          </div>
                          <div class="item-box-4">
                          </div>
                        </div>
                      </div> <!-- end of formArrayName="items" -->
                    </div>
                    <!--end of [formGroupName]="i" and loop-->
                  </div>
                  <!--end of formArrayName="keyMilestones" end of card-text-->
                </div>
              </div>
            </div>

          </div>
        </div>
        <!-- flex-container-splitting-kri-and-rdoi-in-half -->
        <div class="left-side-container-kri-and-rdoi">
          <div class="d-flex flex-container-splitting-kri-and-rdoi-in-half">

            <div class="uka-ra-kri-rdoi-containers bottom-left">
              <!-- KEY RISKS -->
              <div class="card border-info height-100">
                <div class="card-header">
                  <div class="d-flex justify-content-between row-hl">
                    <div class="item-hl">
                      <span>Key Risks and Issues</span>
                    </div>
                    <div class="item-hl">
                      <button type="button" id="newKeyRiskButton" class="btn btn-link text-dark py-0 px-1 hover-success"
                        (click)="onNewKeyRisk()">
                        <i class="fas fa-plus"></i></button>
                    </div>
                  </div>
                </div>
                <div class="card-body enableOverflow" id="keyRisks">
                  <div class="card-text" formArrayName="keyRisks">
                    <div class="pl-0" *ngFor="let keyRisk of projectForm.get('keyRisks').controls; let indexOfKeyRisk=index"
                      [formGroupName]="indexOfKeyRisk" id="{{'keyRisk-' + (indexOfKeyRisk + 1)}}">
                      <div class="container-1">
                        <div class="box-1">
                          <p class="m-0 text-right mr-2">{{indexOfKeyRisk + 1}}. </p>
                        </div>
                        <div class="box-2">
                          <textarea type="text" class="form-control" formControlName="name" placeholder="Key Risk" rows="1"></textarea>
                        </div>
                        <div class="box-3">
                          <button type="button" class="btn btn-link text-dark py-0 px-1 hover-danger" (click)="onDeleteKeyRisk(indexOfKeyRisk)"><i
                              class="far fa-trash-alt"></i></button>
                        </div>
                        <div class="box-4">
                          <button type="button" (click)="onAddKeyRiskItem(keyRisk)" type="button" class="btn btn-link text-dark py-0 px-1 hover-success"><i
                              class="fas fa-plus"></i></button>
                        </div>
                      </div> <!-- end of flex container for Key Risk name -->
                      <div class="p-0 m-0" formArrayName="items">
                        <div class="container-1" *ngFor="let item of keyRisk.get('items').controls; let indexOfKeyRiskItem=index"
                          [formGroupName]="indexOfKeyRiskItem">
                          <div class="item-box-1 ml-auto">
                            <p class="m-0 text-right mr-2">{{getBulletLetter(indexOfKeyRiskItem)}}) </p>
                          </div>
                          <div class="item-box-2">
                            <textarea type="text" class="form-control" placeholder="Key Risk Item" formControlName="name"
                              rows="1"></textarea>
                          </div>
                          <div class="item-box-3">
                            <button type="button" (click)="onDeleteKeyRiskItem(keyRisk, indexOfKeyRiskItem)" type="button"
                              class="btn btn-link text-dark py-0 px-1 hover-danger"><i class="far fa-trash-alt"></i></button>
                          </div>
                          <div class="item-box-4">
                          </div>
                        </div>
                      </div> <!-- end of formArrayName="items" -->
                    </div>
                    <!--end of [formGroupName]="i" and loop-->
                  </div>
                  <!--end of formArrayName="keyMilestones" end of card-text-->
                </div>
              </div>
            </div>

            <div class="uka-ra-kri-rdoi-containers bottom-right">
              <!-- REQUIRED DECISIONS -->
              <div class="card border-info height-100">
                <div class="card-header">
                  <div class="d-flex justify-content-between row-hl">
                    <div class="item-hl">
                      <span>Required Decisions & Open Items</span>
                    </div>
                    <div class="item-hl">
                      <button type="button" id="newRequiredDecisionButton" class="btn btn-link text-dark py-0 px-1 hover-success"
                        (click)="onNewRequiredDecision()">
                        <i class="fas fa-plus"></i></button>
                    </div>
                  </div>
                </div>
                <div class="card-body enableOverflow" id="requiredDecisions">
                  <div class="card-text" formArrayName="requiredDecisions">
                    <div class="pl-0" *ngFor="let requiredDecision of projectForm.get('requiredDecisions').controls; let indexOfRequiredDecision=index"
                      [formGroupName]="indexOfRequiredDecision" id="{{'requiredDecision-' + (indexOfRequiredDecision + 1)}}">
                      <div class="container-1">
                        <div class="box-1">
                          <p class="m-0 text-right mr-2">{{indexOfRequiredDecision + 1}}. </p>
                        </div>
                        <div class="box-2">
                          <textarea type="text" class="form-control" formControlName="name" placeholder="Required Decision"
                            rows="1"></textarea>
                        </div>
                        <div class="box-3">
                          <button type="button" class="btn btn-link text-dark py-0 px-1 hover-danger" (click)="onDeleteRequiredDecision(indexOfRequiredDecision)"><i
                              class="far fa-trash-alt"></i></button>
                        </div>
                        <div class="box-4">
                          <button type="button" (click)="onAddRequiredDecisionItem(requiredDecision)" type="button"
                            class="btn btn-link text-dark py-0 px-1 hover-success"><i class="fas fa-plus"></i></button>
                        </div>
                      </div> <!-- end of flex container for Key Risk name -->
                      <div class="p-0 m-0" formArrayName="items">
                        <div class="container-1" *ngFor="let item of requiredDecision.get('items').controls; let indexOfRequiredDecisionItem=index"
                          [formGroupName]="indexOfRequiredDecisionItem">
                          <div class="item-box-1 ml-auto">
                            <p class="m-0 text-right mr-2">{{getBulletLetter(indexOfRequiredDecisionItem)}}) </p>
                          </div>
                          <div class="item-box-2">
                            <textarea type="text" class="form-control" placeholder="Required Decision Item"
                              formControlName="name" rows="1"></textarea>
                          </div>
                          <div class="item-box-3">
                            <button type="button" (click)="onDeleteRequiredDecisionItem(requiredDecision, indexOfRequiredDecisionItem)"
                              type="button" class="btn btn-link text-dark py-0 px-1 hover-danger"><i class="far fa-trash-alt"></i></button>
                          </div>
                          <div class="item-box-4">
                          </div>
                        </div>
                      </div> <!-- end of formArrayName="items" -->
                    </div>
                    <!--end of [formGroupName]="i" and loop-->
                  </div>
                  <!--end of formArrayName="keyMilestones" end of card-text-->
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="split-main-container-in-2-right-side-summary">
      <!-- SUMMARY -->
      <div class="card border-info height-100">
        <div class="card-header">
          Summary
        </div>
        <div class="card-body height-100 p-1">
          <textarea [froalaEditor]="options" formControlName="summary" (froalaModelChange)="onChange($event)"
            [(froalaModel)]="model" id="description" placeholder="Summary" #summaryEditor></textarea>
        </div>
      </div>
    </div>
  </form>
</div>
