<div class="row mb-3">
  <div class="col-sm-12">
    <button id="newProjectButton" class="btn btn-outline-success btn-block text-dark" (click)="onNewProject()" *ngIf="(isAuthenticated | async).authenticated">
      <i class="fas fa-plus"></i> New
      Project</button>
  </div>
</div>
<div class="row">
    <div class="col-sm-12">
  <ul class="list-group">
      <app-project-item *ngFor="let projectEl of (projectState | async).projects; let i = index" [project]="projectEl"
        [index]="i"></app-project-item>
  </ul>
</div>
</div>
