<style>
.app-item-2 {
  width: 100%;
  margin-top: 40px;
  margin-right: 40px;
  margin-bottom: 40px;
}

@media(max-width: 768px) {
.app-item-1 {
  position: absolute;
}

.app-item-2 {
  margin-left: 10px;
  margin-top: 40px;
  margin-right: 10px;
  margin-bottom: 10px;
}

}

</style>

<div class="d-flex">
  <div class="app-item-1">
    <app-sidebar></app-sidebar>
  </div>
  <div class="app-item-2">
    <router-outlet></router-outlet>
  </div>
</div>







<!-- <flash-messages></flash-messages> -->

<!-- OLD STUFF BELOW -->
<!-- OLD STUFF BELOW -->
<!-- OLD STUFF BELOW -->
<!-- OLD STUFF BELOW -->
<!-- OLD STUFF BELOW -->
<!-- OLD STUFF BELOW -->




<!-- <div [ngStyle]="{'min-height': clientHeight + 'px', 'margin-bottom': '-50px'}"> -->



<!-- <div id="container">
  <div id="main">
    <div class="row">
      <div class="col-md-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div> -->














<!-- <div id="footerAndTopMargin">
  <div class="aboveFooterSpace"></div>
  <app-footer></app-footer>
</div> -->

<!-- </div> -->


<!-- <ul>
    <li class="text" *ngFor="let item of items | async">
      {{item.name}}
    </li>
  </ul> -->
