.main-flex-container {
  display: flex;
}

.main-child-sidebar {
  width: 250px;
}

.main-child-content {
  width: 100%;
}

.app-item-2 {
  width: 100%;
  margin-top: 40px;
  margin-right: 40px;
  margin-bottom: 40px;
}

@media(max-width: 768px) {
.app-item-1 {
  position: absolute;
}

.app-item-2 {
  margin-left: 10px;
  margin-top: 40px;
  margin-right: 10px;
  margin-bottom: 10px;
}

}
