<!-- <nav class="navbar navbar-expand-md navbar-dark bg-dark p-0">
  <div class="container-fluid">
    <a routerLink="/" class="navbar-brand">Recipe Book</a>
    <button type="button" class="navbar-toggler ml-auto mr-3" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse mx-4" id="navbarCollapse">

      <ul class="navbar-nav">
        <li routerLinkActive="active" class="nav-item px-2"><a routerLink="/recipes" class="nav-link">Recipe</a></li>
        <li routerLinkActive="active" class="nav-item px-2"><a routerLink="/shopping-list" class="nav-link">Shopping
            List</a></li>
        <li routerLinkActive="active" class="nav-item px-2"><a routerLink="/projects" class="nav-link">Project
            Dashboard</a></li>
      </ul>
      <ul class="navbar-nav navbar-right">
        <li *ngIf="!(authState | async).authenticated" routerLinkActive="active" class="nav-item px-2"><a routerLink="/signup"
            class="nav-link">Register</a></li>
        <li *ngIf="!(authState | async).authenticated" routerLinkActive="active" class="nav-item px-2"><a routerLink="/signin"
            class="nav-link">Login</a></li>

        <li class="nav-item dropdown mr-4" *ngIf="(authState | async).authenticated">
          <a href="#" class="nav-link dropdown-toggle text-nowrap" data-toggle="dropdown" role="button">
            <i class="fas fa-sync mr-2"></i> Sync {{app_user.name}}
          </a>
          <div class="dropdown-menu">
            <a href="#" class="dropdown-item" (click)="onSaveData()">
              <i class="fas fa-cloud-upload-alt mr-2"></i> Save to Cloud
            </a>
            <a href="#" class="dropdown-item" (click)="onFetchData()">
              <i class="fas fa-cloud-download-alt mr-2"></i> Upload from Cloud
            </a>
          </div>
        </li>

        <li class="nav-item dropdown" *ngIf="(authState | async).authenticated">
          <a href="#" class="nav-link dropdown-toggle text-nowrap" data-toggle="dropdown" role="button">
            <i class="fas fa-user mr-2"></i> Welcome {{app_user.name}}
          </a>
          <div class="dropdown-menu">
            <a href="#" class="dropdown-item">
              <i class="fas fa-user-circle"></i> Profile
            </a>
            <a href="#" class="dropdown-item">
              <i class="fas fa-cog"></i> Settings
            </a>
            <a class="dropdown-item" (click)="onLogout()">
              <i class="fas fa-user-times"></i> Logout
            </a>
          </div>
        </li>
      </ul>

    </div>

  </div>
</nav>





 -->
