<div class="main-wrapper d-flex" *ngIf="!isLoading && isAuthenticated">
  <div class="main-wrapper-content">
    <div class="d-flex flex-column project-main-container">
      <div class="main-container-top">
        <div class="d-flex split-main-container-in-2">
          <div class="split-main-container-in-2-left-side">
            <div class="d-flex flex-column left-side-container">
              <div class="left-side-container-project-name">

                <div class="card border-info">
                  <div class="card-body py-2">
                    <div class="d-flex justify-content-between  align-items-center row-hl">
                      <div class="item-hl w-100">
                        <div class="d-flex row-hl">
                          <div class="item-hl align-items-center" *ngIf="project">
                            <span class="card-title h3 text-center m-0 align-middle">{{ project.name }}</span>
                          </div>
                        </div>
                      </div>
                      <div class="item-hl">
                        <a routerLink="/projects/edit/{{id}}" type="button" title="Edit Project" class="btn btn-link text-dark py-0 px-1"
                          *ngIf="isAuthenticated">
                          <i class="fas fa-edit"></i> Edit Project</a>
                      </div>
                    </div>

                  </div>
                </div>

              </div>
              <!-- end of left-side-container-project-name -->

              <div class="left-side-container-key-milestones">
                <div class="card border-info">
                  <div class="card-header">
                    <div class="d-flex justify-content-between row-hl">
                      <div class="item-hl">
                        <span>Key Milestones</span>
                      </div>
                      <div class="item-hl">
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="p-0 ml-4 splitInColumns" *ngIf="project">
                      <div class="p-2 p-2 innerDivs" *ngFor="let keyMilestone of project.keyMilestones; let i=index">
                        <span class="mr-2">{{i+1}}.</span> <u>{{(keyMilestone.name)}}</u>
                        <div class="p-0 ml-4 font-italic" *ngFor="let keyMilestoneItem of keyMilestone.items; let j=index">
                          <span class="mr-2">{{i+1}}{{getBulletLetter(j)}})</span> {{keyMilestoneItem.name}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end of left-side-container-key-milestones -->

              <div class="left-side-container-uka-and-ra">
                <div class="d-flex flex-container-splitting-uka-and-ra-in-half">

                  <div class="uka-ra-kri-rdoi-containers top-left">
                    <div class="card border-info">
                      <div class="card-header">
                        <div class="d-flex justify-content-between row-hl">
                          <div class="item-hl">
                            <span>Upcoming Key Activities</span>
                          </div>
                          <div class="item-hl">
                          </div>
                        </div>
                      </div>
                      <div class="card-body">
                        <div class="p-0 ml-4" *ngIf="project">
                          <div class="p-2 p-2" *ngFor="let upcomingKeyActivity of project.upcomingKeyActivities; let i=index">
                            <span class="mr-2">{{i+1}}.</span> <u>{{upcomingKeyActivity.name}}</u>
                            <div class="p-0 ml-4 font-italic" *ngFor="let upcomingKeyActivityItem of upcomingKeyActivity.items; let j=index">
                              <span class="mr-2">{{i+1}}{{getBulletLetter(j)}})</span> {{upcomingKeyActivityItem.name}}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                  <!-- end of uka-ra-kri-rdoi-containers top-left"> -->

                  <div class="uka-ra-kri-rdoi-containers top-right">
                    <div class="card border-info">
                      <div class="card-header">
                        <div class="d-flex justify-content-between row-hl">
                          <div class="item-hl">
                            <span>Resource Assignments</span>
                          </div>
                          <div class="item-hl">
                          </div>
                        </div>
                      </div>
                      <div class="card-body">
                        <div class="p-0 ml-4" *ngIf="project">
                          <div class="p-2 p-2" *ngFor="let resourceAssignment of project.resourceAssignments; let i=index">
                            <span class="mr-2">{{i+1}}.</span> <u>{{resourceAssignment.name}}</u>
                            <div class="p-0 ml-4 font-italic" *ngFor="let resourceAssignmentItem of resourceAssignment.items; let j=index">
                              <span class="mr-2">{{i+1}}{{getBulletLetter(j)}})</span> {{resourceAssignmentItem.name}}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                  <!-- end of uka-ra-kri-rdoi-containers top-right -->

                </div>
                <!-- end of flex-container-splitting-uka-and-ra-in-half -->

              </div>
              <!-- end of left-side-container-uka-and-ra -->

              <div class="left-side-container-kri-and-rdoi">
                <div class="d-flex flex-container-splitting-kri-and-rdoi-in-half">

                  <div class="uka-ra-kri-rdoi-containers bottom-left">
                    <div class="card border-info">
                      <div class="card-header">
                        <div class="d-flex justify-content-between row-hl">
                          <div class="item-hl">
                            <span>Key Risks and Issues</span>
                          </div>
                          <div class="item-hl">
                          </div>
                        </div>
                      </div>
                      <div class="card-body">
                        <div class="p-0 ml-4" *ngIf="project">
                          <div class="p-2 p-2" *ngFor="let keyRisk of project.keyRisks; let i=index">
                            <span class="mr-2">{{i+1}}.</span> <u>{{keyRisk.name}}</u>
                            <div class="p-0 ml-4 font-italic" *ngFor="let keyRiskItem of keyRisk.items; let j=index">
                              <span class="mr-2">{{i+1}}{{getBulletLetter(j)}})</span> {{keyRiskItem.name}}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                  <!-- end of uka-ra-kri-rdoi-containers bottom-left -->

                  <div class="uka-ra-kri-rdoi-containers bottom-right">
                    <div class="card border-info">
                      <div class="card-header">
                        <div class="d-flex justify-content-between row-hl">
                          <div class="item-hl">
                            <span>Required Decisions & Open Items</span>
                          </div>
                          <div class="item-hl">
                          </div>
                        </div>
                      </div>
                      <div class="card-body">
                        <div class="p-0 ml-4" *ngIf="project">
                          <div class="p-2 p-2" *ngFor="let requiredDecision of project.requiredDecisions; let i=index">
                            <span class="mr-2">{{i+1}}.</span> <u>{{requiredDecision.name}}</u>
                            <div class="p-0 ml-4 font-italic" *ngFor="let requiredDecisionItem of requiredDecision.items; let j=index">
                              <span class="mr-2">{{i+1}}{{getBulletLetter(j)}})</span> {{requiredDecisionItem.name}}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                  <!-- end of uka-ra-kri-rdoi-containers bottom-right -->

                </div>
                <!-- end of left-side-container-kri-and-rdoi -->

              </div>
              <!-- end of d-flex flex-container-splitting-kri-and-rdoi-in-half -->

            </div>
            <!-- end of d-flex flex-column left-side-container -->

          </div>
          <!-- end of split-main-container-in-2-left-side -->



          <div class="split-main-container-in-2-right-side-summary">
            <div class="card border-info">
              <div class="card-header">
                Summary
              </div>
              <div class="card-body" *ngIf="project">
                <div [froalaView]="project.summary"></div>
              </div>
            </div>
          </div>

        </div>
        <!-- end of split main cont in 2 -->

      </div>
      <!-- end of main-container-top -->

      <!-- ---------- -->

      <div class="main-container-bottom-legend">
        <!-- LEGEND -->
        <div class="d-flex justify-content-end pt-2">
          <div class="legend-item">

            <div class="d-flex">
              <div class="legend-title p-3">
                <div class="color transparent"><span>?</span></div>
                Key Milestone Legend:
              </div>
              <div class="legend-green p-3">
                <div class="color green"><span>Green</span></div>
                Requirement Ready
              </div>
              <div class="legend-yellow p-3">
                <div class="color yellow"><span>Yellow</span></div>
                Requirement Drafted; Require Final Grooming
              </div>
              <div class="legend-red p-3">
                <div class="color red"><span>Red</span></div>
                Requirement Not Started; Planned
              </div>
            </div>

          </div>
        </div>
        <!-- END LEGEND -->

      </div>
      <!-- end of main-container-bottom -->

    </div>
    <!-- end of main container -->

  </div>
</div>


<div class="sk-fading-circle" *ngIf="isLoading">
  <div class="sk-circle1 sk-circle"></div>
  <div class="sk-circle2 sk-circle"></div>
  <div class="sk-circle3 sk-circle"></div>
  <div class="sk-circle4 sk-circle"></div>
  <div class="sk-circle5 sk-circle"></div>
  <div class="sk-circle6 sk-circle"></div>
  <div class="sk-circle7 sk-circle"></div>
  <div class="sk-circle8 sk-circle"></div>
  <div class="sk-circle9 sk-circle"></div>
  <div class="sk-circle10 sk-circle"></div>
  <div class="sk-circle11 sk-circle"></div>
  <div class="sk-circle12 sk-circle"></div>
</div>
