<div class="main-wrapper d-flex" *ngIf="!isLoading && isAuthenticated">
  <div class="main-wrapper-content">
    <div class="d-flex flex-column project-main-container">
      <div class="main-container-top">
        <div class="d-flex split-main-container-in-2">
          <div class="split-main-container-in-2-left-side">
            <div class="d-flex flex-column left-side-container">
              <div class="left-side-container-project-name">

                <div class="card border-info">
                  <div class="card-body py-2">
                    <div class="d-flex justify-content-between  align-items-center row-hl">
                      <div class="item-hl w-100">
                        <div class="d-flex row-hl">
                          <div class="item-hl align-items-center" *ngIf="project">
                            <span class="card-title h3 text-center m-0 align-middle">{{ project.name }}</span>
                          </div>
                        </div>
                      </div>
                      <div class="item-hl">
                        <button routerLink="/projects/edit/{{id}}" type="button" title="Edit Project" class="btn btn-link text-dark py-0 px-1 hover-success edit-project-button"
                          *ngIf="isAuthenticated">
                          <i class="fas fa-edit"></i> Edit Project</button>
                      </div>
                    </div>

                  </div>
                </div>

              </div>
              <!-- end of left-side-container-project-name -->

              <div class="left-side-container-key-milestones">
                <div class="card border-info">
                  <div class="card-header">
                    <div class="d-flex justify-content-between row-hl">
                      <div class="item-hl">
                        <span>Key Milestones</span>
                      </div>
                      <div class="item-hl">
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="d-flex justify-content-center">
                      <app-plotter></app-plotter>
                    </div>

                    <!-- <div
                    id="months-flex-main-container"
                    class="d-flex justify-content-center"
                    style="border: 1px solid black;"
                    >
                      <div class="month d-flex flex-column justify-content-between">
                        <div class="d-flex align-items-center justify-content-center rounded-left bg-primary text-white py-1 px-2 month-start">
                          <div class="month-name">
                            <span>Jan 18</span>
                          </div>
                          <div class="month-name-narrow">
                              <span>1/18</span>
                          </div>
                        </div>

                        <div class="bg-dark rounded-left plotting-line"></div>

                      </div>
                      <div class="month d-flex flex-column justify-content-between">
                        <div class="d-flex align-items-center justify-content-center bg-primary text-white py-1 px-2 month-inbetween">
                          <div class="month-name">
                            <span>Feb 18</span>
                          </div>
                          <div class="month-name-narrow">
                              <span>2/18</span>
                          </div>
                        </div>

                        <div class="bg-dark plotting-line"></div>

                      </div>
                      <div class="month d-flex flex-column justify-content-between">
                        <div class="d-flex align-items-center justify-content-center bg-primary text-white py-1 px-2 month-inbetween">
                          <div class="month-name">
                            <span>Mar 18</span>
                          </div>
                          <div class="month-name-narrow">
                              <span>3/18</span>
                          </div>
                        </div>

                        <div class="bg-dark plotting-line"></div>

                      </div>
                      <div class="month d-flex flex-column justify-content-between">
                        <div class="d-flex align-items-center justify-content-center bg-primary text-white py-1 px-2 month-inbetween">
                          <div class="month-name">
                            <span>Apr 18</span>
                          </div>
                          <div class="month-name-narrow">
                              <span>4/18</span>
                          </div>
                        </div>

                        <div class="bg-dark plotting-line"></div>

                      </div>
                      <div class="month d-flex flex-column justify-content-between">
                        <div class="d-flex align-items-center justify-content-center bg-primary text-white py-1 px-2 month-inbetween">
                          <div class="month-name">
                            <span>May 18</span>
                          </div>
                          <div class="month-name-narrow">
                              <span>5/18</span>
                          </div>
                        </div>

                        <div class="bg-dark plotting-line"></div>

                      </div>
                      <div class="month d-flex flex-column justify-content-between">
                        <div class="d-flex align-items-center justify-content-center bg-primary text-white py-1 px-2 month-inbetween">
                          <div class="month-name">
                            <span>Jun 18</span>
                          </div>
                          <div class="month-name-narrow">
                              <span>6/18</span>
                          </div>
                        </div>

                        <div class="bg-dark plotting-line"></div>

                      </div>
                      <div class="month d-flex flex-column justify-content-between">
                        <div class="d-flex align-items-center justify-content-center bg-primary text-white py-1 px-2 month-inbetween">
                          <div class="month-name">
                            <span>Jul 18</span>
                          </div>
                          <div class="month-name-narrow">
                              <span>7/18</span>
                          </div>
                        </div>

                        <div class="bg-dark plotting-line"></div>

                      </div>
                      <div class="month d-flex flex-column justify-content-between">
                        <div class="d-flex align-items-center justify-content-center bg-primary text-white py-1 px-2 month-inbetween">
                          <div class="month-name">
                            <span>Aug 18</span>
                          </div>
                          <div class="month-name-narrow">
                              <span>8/18</span>
                          </div>
                        </div>

                        <div class="bg-dark plotting-line"></div>

                      </div>
                      <div class="month d-flex flex-column justify-content-between">
                        <div class="d-flex align-items-center justify-content-center bg-primary text-white py-1 px-2 month-inbetween">
                          <div class="month-name">
                            <span>Sep 18</span>
                          </div>
                          <div class="month-name-narrow">
                              <span>9/18</span>
                          </div>
                        </div>

                        <div class="bg-dark plotting-line"></div>

                      </div>
                      <div class="month d-flex flex-column justify-content-between">
                        <div class="d-flex align-items-center justify-content-center bg-primary text-white py-1 px-2 month-inbetween">
                          <div class="month-name">
                            <span>Oct 18</span>
                          </div>
                          <div class="month-name-narrow">
                              <span>10/18</span>
                          </div>
                        </div>

                        <div class="bg-dark plotting-line"></div>

                      </div>
                      <div class="month d-flex flex-column justify-content-between">
                        <div class="d-flex align-items-center justify-content-center bg-primary text-white py-1 px-2 month-inbetween">
                          <div class="month-name">
                            <span>Nov 18</span>
                          </div>
                          <div class="month-name-narrow">
                              <span>11/18</span>
                          </div>
                        </div>

                        <div class="bg-dark plotting-line"></div>

                      </div>
                      <div class="month d-flex flex-column justify-content-between">
                        <div class="d-flex align-items-center justify-content-center rounded-right bg-primary text-white py-1 px-2 month-end">
                          <div class="month-name">
                            <span>Dec 18</span>
                          </div>
                          <div class="month-name-narrow">
                              <span>12/18</span>
                          </div>
                        </div>

                        <div class="bg-dark rounded-right plotting-line"></div>

                      </div>
                    </div> -->



                    <!-- TEST ANIMATIONS START
                    <div class="mb-4" style="width: 20px; height: 20px;" [@divState]="state">
                    </div>
                    <button class="btn btn-primary mr-3" (click)="onAnimate()">Animate!</button>
                    <button class="btn btn-primary" (click)="onShrink()">Shrink!</button>
                     TEST ANIMATIONS END -->


                    <div class="p-0 ml-4 splitInColumns" *ngIf="project">
                      <div class="innerDivs" *ngFor="let keyMilestone of project.keyMilestones; let i=index">
                        <div (mouseenter)="onKMMouseEnter(i)" (mouseleave)="onKMMouseLeave(i)">
                          <a id="{{'keyMilestone-' + (i + 1)}}" class="keyMilestones"><span class="mr-2">{{i+1}}.</span><u>{{(keyMilestone.name)}}</u>
                          </a>
                          <a id="{{'keyMilestoneDateAddShowHideButton-' + (i + 1)}}" class="keyMilestoneDateAddShowHideButton">
                            <div class="keyMilestoneDateAddingBubble">
                              <div class="d-flex justify-content-center">
                                <div class="align-self-center">
                                  <div>
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                      preserveAspectRatio="xMidYMid meet" viewBox="0 0 20 20" width="20" height="20">
                                      <defs>
                                        <path d="M20 10C20 15.52 15.52 20 10 20C4.48 20 0 15.52 0 10C0 4.48 4.48 0 10 0C15.52 0 20 4.48 20 10Z"
                                          id="b6CPiZkzQC"></path>
                                        <path d="M15.8 9C15.91 9 16 9.09 16 9.2C16 9.56 16 10.43 16 10.79C16 10.9 15.91 11 15.8 11C13.44 11 6.57 11 4.21 11C4.1 11 4 10.9 4 10.79C4 10.43 4 9.56 4 9.2C4 9.09 4.1 9 4.21 9C6.57 9 13.44 9 15.8 9Z"
                                          id="b6fhJshzqP"></path>
                                        <path d="M10.8 4C10.91 4 11 4.09 11 4.2C11 6.56 11 13.43 11 15.79C11 15.9 10.91 16 10.8 16C10.44 16 9.57 16 9.21 16C9.1 16 9 15.9 9 15.79C9 13.43 9 6.56 9 4.2C9 4.09 9.1 4 9.21 4C9.57 4 10.44 4 10.8 4Z"
                                          id="c2KyDlA0KS"></path>
                                      </defs>
                                      <g>
                                        <g>
                                          <g>
                                            <use xlink:href="#b6CPiZkzQC" opacity="1" fill="#dc3546" fill-opacity="1"></use>
                                            <g>
                                              <use xlink:href="#b6CPiZkzQC" opacity="1" fill-opacity="0" stroke="#4b4563"
                                                stroke-width="0" stroke-opacity="1"></use>
                                            </g>
                                          </g>
                                          <g>
                                            <use xlink:href="#b6fhJshzqP" opacity="1" fill="#ffffff" fill-opacity="1"></use>
                                          </g>
                                          <g>
                                            <use xlink:href="#c2KyDlA0KS" opacity="1" fill="#ffffff" fill-opacity="1"></use>
                                          </g>
                                        </g>
                                      </g>
                                    </svg>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </a>
                          <!-- <u class="ml-4">+</u> -->
                        </div>

                        <div class="p-0 ml-4 font-italic" *ngFor="let keyMilestoneItem of keyMilestone.items; let j=index">
                          <span class="mr-2">{{i+1}}{{getBulletLetter(j)}})</span> {{keyMilestoneItem.name}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end of left-side-container-key-milestones -->

              <div class="left-side-container-uka-and-ra">
                <div class="d-flex flex-container-splitting-uka-and-ra-in-half">

                  <div class="uka-ra-kri-rdoi-containers top-left">
                    <div class="card border-info">
                      <div class="card-header">
                        <div class="d-flex justify-content-between row-hl">
                          <div class="item-hl">
                            <span>Upcoming Key Activities</span>
                          </div>
                          <div class="item-hl">
                          </div>
                        </div>
                      </div>
                      <div class="card-body">
                        <div class="p-0 ml-4" *ngIf="project">
                          <div class="p-2 p-2" *ngFor="let upcomingKeyActivity of project.upcomingKeyActivities; let i=index">
                            <span class="mr-2">{{i+1}}.</span> <u>{{upcomingKeyActivity.name}}</u>
                            <div class="p-0 ml-4 font-italic" *ngFor="let upcomingKeyActivityItem of upcomingKeyActivity.items; let j=index">
                              <span class="mr-2">{{i+1}}{{getBulletLetter(j)}})</span> {{upcomingKeyActivityItem.name}}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                  <!-- end of uka-ra-kri-rdoi-containers top-left"> -->

                  <div class="uka-ra-kri-rdoi-containers top-right">
                    <div class="card border-info">
                      <div class="card-header">
                        <div class="d-flex justify-content-between row-hl">
                          <div class="item-hl">
                            <span>Resource Assignments</span>
                          </div>
                          <div class="item-hl">
                          </div>
                        </div>
                      </div>
                      <div class="card-body">
                        <div class="p-0 ml-4" *ngIf="project">
                          <div class="p-2 p-2" *ngFor="let resourceAssignment of project.resourceAssignments; let i=index">
                            <span class="mr-2">{{i+1}}.</span> <u>{{resourceAssignment.name}}</u>
                            <div class="p-0 ml-4 font-italic" *ngFor="let resourceAssignmentItem of resourceAssignment.items; let j=index">
                              <span class="mr-2">{{i+1}}{{getBulletLetter(j)}})</span> {{resourceAssignmentItem.name}}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                  <!-- end of uka-ra-kri-rdoi-containers top-right -->

                </div>
                <!-- end of flex-container-splitting-uka-and-ra-in-half -->

              </div>
              <!-- end of left-side-container-uka-and-ra -->

              <div class="left-side-container-kri-and-rdoi">
                <div class="d-flex flex-container-splitting-kri-and-rdoi-in-half">

                  <div class="uka-ra-kri-rdoi-containers bottom-left">
                    <div class="card border-info">
                      <div class="card-header">
                        <div class="d-flex justify-content-between row-hl">
                          <div class="item-hl">
                            <span>Key Risks and Issues</span>
                          </div>
                          <div class="item-hl">
                          </div>
                        </div>
                      </div>
                      <div class="card-body">
                        <div class="p-0 ml-4" *ngIf="project">
                          <div class="p-2 p-2" *ngFor="let keyRisk of project.keyRisks; let i=index">
                            <span class="mr-2">{{i+1}}.</span> <u>{{keyRisk.name}}</u>
                            <div class="p-0 ml-4 font-italic" *ngFor="let keyRiskItem of keyRisk.items; let j=index">
                              <span class="mr-2">{{i+1}}{{getBulletLetter(j)}})</span> {{keyRiskItem.name}}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                  <!-- end of uka-ra-kri-rdoi-containers bottom-left -->

                  <div class="uka-ra-kri-rdoi-containers bottom-right">
                    <div class="card border-info">
                      <div class="card-header">
                        <div class="d-flex justify-content-between row-hl">
                          <div class="item-hl">
                            <span>Required Decisions & Open Items</span>
                          </div>
                          <div class="item-hl">
                          </div>
                        </div>
                      </div>
                      <div class="card-body">
                        <div class="p-0 ml-4" *ngIf="project">
                          <div class="p-2 p-2" *ngFor="let requiredDecision of project.requiredDecisions; let i=index">
                            <span class="mr-2">{{i+1}}.</span> <u>{{requiredDecision.name}}</u>
                            <div class="p-0 ml-4 font-italic" *ngFor="let requiredDecisionItem of requiredDecision.items; let j=index">
                              <span class="mr-2">{{i+1}}{{getBulletLetter(j)}})</span> {{requiredDecisionItem.name}}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                  <!-- end of uka-ra-kri-rdoi-containers bottom-right -->

                </div>
                <!-- end of left-side-container-kri-and-rdoi -->

              </div>
              <!-- end of d-flex flex-container-splitting-kri-and-rdoi-in-half -->

            </div>
            <!-- end of d-flex flex-column left-side-container -->

          </div>
          <!-- end of split-main-container-in-2-left-side -->



          <div class="split-main-container-in-2-right-side-summary">
            <div class="card border-info height-100">
              <div class="card-header">
                Summary
              </div>
              <div class="card-body height-100 p-1" *ngIf="project">
                <div [froalaView]="project.summary"></div>
              </div>
            </div>
          </div>

        </div>
        <!-- end of split main cont in 2 -->

      </div>
      <!-- end of main-container-top -->

      <!-- ---------- -->

      <div class="main-container-bottom-legend">
        <!-- LEGEND -->
        <div class="d-flex justify-content-end pt-2 legend-main-wrapper">
          <div class="legend-item">

            <div class="d-flex legend-flex-container">
              <div class="legend-title p-3">
                <div class="color transparent"><span>?</span></div>
                <span class="no-wrap">Key Milestone Legend:</span>
              </div>
              <div class="legend-green p-3">
                <div class="color green"><span>Green</span></div>
                <span class="no-wrap ml-2">Requirement Ready</span>
              </div>
              <div class="legend-yellow p-3">
                <div class="color yellow"><span>Yellow</span></div>
                <span class="no-wrap ml-2">Requirement Drafted; Require Final Grooming</span>
              </div>
              <div class="legend-red p-3">
                <div class="color red"><span>Red</span></div>
                <span class="no-wrap ml-2">Not Started; Planned</span>
              </div>
            </div>

          </div>
        </div>
        <!-- END LEGEND -->

      </div>
      <!-- end of main-container-bottom -->

    </div>
    <!-- end of main container -->

  </div>
</div>


<div class="sk-fading-circle" *ngIf="isLoading">
  <div class="sk-circle1 sk-circle"></div>
  <div class="sk-circle2 sk-circle"></div>
  <div class="sk-circle3 sk-circle"></div>
  <div class="sk-circle4 sk-circle"></div>
  <div class="sk-circle5 sk-circle"></div>
  <div class="sk-circle6 sk-circle"></div>
  <div class="sk-circle7 sk-circle"></div>
  <div class="sk-circle8 sk-circle"></div>
  <div class="sk-circle9 sk-circle"></div>
  <div class="sk-circle10 sk-circle"></div>
  <div class="sk-circle11 sk-circle"></div>
  <div class="sk-circle12 sk-circle"></div>
</div>
