<div class="wrapper">
  <!-- Sidebar Holder -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <a routerLink="/">
        <h3>Project Dashboard</h3>
      </a>
    </div>

    <ul *ngIf="isAuthenticated" class="list-unstyled components">
      <li>
        <a class="dropdown-item" (click)="onLogout()">
          <i class="fas fa-user-times mr-3"></i> Logout
        </a>
      </li>
      <li *ngFor="let project of projects; let i = index">
        <a routerLink="projects/{{ project.id }}" (click)="onProjectChanged(project.id)">{{ project.name }}</a>
      </li>
      <li id="newProjectLi">
        <a id="newProjectButton" (click)="onNewProject()">
          <i class="fas fa-plus mr-3"></i>New
          Project</a>
      </li>
      <li id="newProjectLi">
        <a id="newProjectButton" routerLink="archive">
          <i class="fas fa-archive mr-3"></i>Archive</a>
      </li>
    </ul>

  </nav>

  <!-- Page Content Holder -->
  <div id="content">

    <button type="button" id="sidebarCollapse" class="navbar-btn" (click)="onSidebarCollapse()">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>

</div>
