<div class="wrapper">
  <!-- Sidebar Holder -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <a routerLink="/">
        <h3>Project Dashboard</h3>
      </a>
    </div>

    <ul *ngIf="isAuthenticated" class="list-unstyled components">
      <li>
        <a class="dropdown-item" (click)="onLogout()">
          <i class="fas fa-user-times"></i> Logout
        </a>
      </li>

      <li *ngFor="let project of projects; let i = index">
        <!-- routerLink="projects/{{ project.id }}" -->
        <a  (click)="onNavigateToProject(i)">{{ project.name }}</a>
      </li>
      <li id="newProjectLi">
        <a id="newProjectButton" (click)="onNewProject()">
          <i class="fas fa-plus pr-2"></i> New
          Project</a>
      </li>
    </ul>

  </nav>

  <!-- Page Content Holder -->
  <div id="content">

    <button type="button" id="sidebarCollapse" class="navbar-btn" (click)="onSidebarCollapse()">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>

</div>
