/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0 !important;
  padding: 0 !important;
  height: 100% !important;
  max-width: 100%;
  overflow-x: hidden !important;
}

/* Modifying date picker */
.mydp, .mydp .headertodaybtn {
  border: none !important;
}

.selbtngroup {
  height: 0 !important;
}

.mydp .btnclear, .mydp .btndecrease, .mydp .btnincrease, .mydp .btnpicker {
  height: 0 !important;
  width: 0 !important;
}

.mydp, .mydp .headertodaybtn, .mydp .selection, .mydp .selectiongroup, .mydp .selector {
  border-radius: unset !important;
}

.mydp .selbtngroup {
  white-space: unset !important;
  width: 0 !important;
}

.mydp .selectiongroup {
  display: unset !important;
  border: none !important;
  border-spacing: 0;
  background-color: unset !important;
}

.mydp .alignselectorright {
  right: -44px !important;
}

/* Done modifying date picker */



@media (max-width: 992px) {

  .projectsListSmall,
  #projectsListSmall {
    display: block !important;
  }

  .projectsListLarge,
  #projectsListLarge {
    display: none !important;
  }

  #summaryCard {
    margin-left: -5px !important;
    margin-right: -5px !important;
  }

  #summaryCol {
    padding-left: 0 !important;
    margin-left: 0 !important;
    padding-right: 0 !important;
    margin-right: 0 !important;
  }

  /* .row-ml-10 {
    margin-left: -15px !important;
  } */

}

@media (min-width: 1201px) {

  .projectsListSmall,
  #projectsListSmall {
    display: none !important;
  }

  .projectsListLarge,
  #projectsListLarge {
    display: block !important;
  }

}

@media (max-width: 1160px) {
  #legend {
    display: none !important;
  }
}

#dhsSealFooter {
  display: none !important;
}









