<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="projectForm">
      <div class="row">
        <div class="col-xs-12">
          <button (click)="onSubmit()" type="button" class="btn btn-success" [disabled]="!projectForm.valid">Save</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>


      <div class="row">

        <div class="col-lg-9 px-2">

          <div class="row">
            <div class="col p-2">
              <div class="card border-info">
                <div class="card-body py-2">
                  <span class="card-title h3 text-center m-0">
                    <input type="text" id="name" formControlName="name" class="form-control">
                    <small *ngIf="!myForm.controls.name.valid" class="text-danger">
                      Name is required (minimum 5 characters).
                    </small>
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col p-2">
              <div class="card border-info">
                <div class="card-header">
                  <div class="d-flex justify-content-between row-hl">
                    <div class="item-hl">
                      <span>Key Milestones</span>
                    </div>
                    <div class="item-hl">
                      <button id="newKeyMilestoneButton" class="btn btn-outline-success text-dark py-0 px-1" (click)="onAddKeyMilestone()">
                        <i class="fas fa-plus"></i></button>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="card-text" formArrayName="keyMilestones">
                    <div class="row" *ngFor="let keyMilestone of projectForm.controls.keyMilestones.controls; let i=index">
                      <div class="col-xl-6">
                        <a *ngIf="projectForm.controls.keyMilestones.controls.length > 1" (click)="onDeleteKeyMilestone(i)"
                          style="cursor: default;">
                          X
                        </a>
                        <div [formGroupName]="i">
                          <input type="text" class="form-control" formControlName="name">
                          <div formArrayName="items" *ngFor="let item of projectForm.controls.keyMilestones.controls[i].controls.items.controls; let j=index">
                            <div [formGroupName]="j">
                              <a *ngIf="keyMilestone.controls.items.controls.length > 1" (click)="removeItem(keyMilestone, j)"
                                style="cursor: default;">X</a>
                              <input type="text" class="form-control" placeholder="Enter Item" formControlName="name">
                            </div>
                            <a class="pull-right" *ngIf="j == keyMilestone.controls.items.controls.length-1" (click)="onAddKeyMilestoneItem(keyMilestone)">Another
                              Item +</a>
                          </div>
                        </div>
                        <!-- <input type="text" class="form-control" formControlName="name"> -->
                      </div>
                      <div class="col-xs-2">
                        <!-- <button type="button" class="btn btn-danger" (click)="onDeleteKeyMilestone(i)">X</button> -->
                        <!-- <button type="button" class="btn btn-danger" (click)="onAddKeyMilestoneItem(i)">v</button> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 p-2">
              <div class="card border-info">
                <div class="card-header">

                  <div class="d-flex justify-content-between row-hl">
                    <div class="item-hl">
                      <span>Upcoming Key Activities</span>
                    </div>
                    <div class="item-hl">
                      <!-- <button id="newKeyMilestoneButton" class="btn btn-outline-success text-dark py-0 px-1" (click)="onAddNew()" >
                          <i class="fas fa-plus"></i></button> -->
                    </div>
                  </div>

                </div>
                <div class="card-body">
                  <ul class="card-text">
                    <li></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-6 p-2">
              <div class="card border-info">
                <div class="card-header">

                  <div class="d-flex justify-content-between row-hl">
                    <div class="item-hl">
                      <span>Resource Assignments</span>
                    </div>
                    <div class="item-hl">
                      <!-- <button id="newKeyMilestoneButton" class="btn btn-outline-success text-dark py-0 px-1" (click)="onNewKeyMilestone()">
                          <i class="fas fa-plus"></i></button> -->
                    </div>
                  </div>

                </div>
                <div class="card-body">
                  <ul class="card-text">
                    <li></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 p-2">
              <div class="card border-info">
                <div class="card-header">
                  <div class="d-flex justify-content-between row-hl">
                    <div class="item-hl">
                      <span>Key Risks and Issues</span>
                    </div>
                    <div class="item-hl">
                      <!-- <button id="newKeyMilestoneButton" class="btn btn-outline-success text-dark py-0 px-1" (click)="onNewKeyMilestone()">
                          <i class="fas fa-plus"></i></button> -->
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <ul class="card-text">
                    <li></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-6 p-2">
              <div class="card border-info">
                <div class="card-header">
                  <div class="d-flex justify-content-between row-hl">
                    <div class="item-hl">
                      <span>Required Decisions & Open Items</span>
                    </div>
                    <div class="item-hl">
                      <!-- <button id="newKeyMilestoneButton" class="btn btn-outline-success text-dark py-0 px-1" (click)="onNewKeyMilestone()">
                          <i class="fas fa-plus"></i></button> -->
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <ul class="card-text">
                    <li></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="col-lg-3 py-2 px-4">
          <div class="card border-info height-100">
            <div class="card-header">
              Summary
            </div>
            <div class="card-body height-100">
              <p class="card-text">
                <textarea type="text" id="description" class="form-control" formControlName="summary" rows="6"></textarea>
              </p>
            </div>
          </div>
        </div>

      </div>

      <div class="row mt-3">
        <div class="col-xl-3">
          <div class="alert alert-white p-1 text-right">
            <i class="fas fa-info-circle ml-2"></i>
            <strong class="ml-3 align-middle text-dark">Key Milestone Legend:</strong>
          </div>
        </div>

        <div class="col-xl-3">
          <div class="alert alert-success legend-font-size p-1">
            <svg width="20" height="20">
              <rect width="20" height="20" rx="5" ry="5" style="fill: #5cb85c;stroke:#5cb85c;stroke-width:0;fill-opacity:1;stroke-opacity:0" />
            </svg>
            <strong class="ml-3 align-middle text-dark">Requirement Ready</strong>
          </div>
        </div>

        <div class="col-xl-3">
          <div class="alert alert-warning legend-font-size p-1">
            <svg width="20" height="20">
              <rect width="20" height="20" rx="5" ry="5" style="fill: #f0ad4e;stroke:#f0ad4e;stroke-width:0;fill-opacity:1;stroke-opacity:0" />
            </svg>
            <strong class="ml-3 align-middle text-dark">Requirement Drafted; Require Final Grooming</strong>
          </div>
        </div>

        <div class="col-xl-3">
          <div class="alert alert-danger legend-font-size p-1">
            <svg width="20" height="20">
              <rect width="20" height="20" rx="5" ry="5" style="fill: #d9534f;stroke:#d9534f;stroke-width:0;fill-opacity:1;stroke-opacity:0" />
            </svg>
            <strong class="ml-3 align-middle text-dark">Requirement Not Started; Planned</strong>
          </div>
        </div>
      </div>



      <a style="cursor: pointer;" (click)="onEditProject()" *ngIf="isAuthenticated">Edit Project</a>












    </form>
  </div>
</div>
